.repositories-info {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-list {
  width: 100%;
}

.item-list a {
  color: #539BF5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1em;
}

.item-list p {
  font-size: 12px;
  color: #999;
}