@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
  width: 100%;
  height: 55px;
  background-color: #2d333b;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 24px;
  color: #ffffff;
}