.content {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  position: absolute;
  left: 0;
  height: 90vh;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 40px;
  color: #ffffff;
}



input {
  width: 229px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #999;
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: transparent;
  padding-left: 1em;
  margin-right: 1em;
  height: 2em;
}

button {
  border-radius: 12px;
  border: 1px solid #999;
  background: #2D333B;
  width: 6em;
  height: 2em;
  color: #999;
}

button:hover {
  background: #5c6673;
  border: 1px solid #fff;
}

button:active {
  background: #171b20;
}

.profile-info {
  margin-top: 3em;
  display: flex;
  align-items: center;
  color: #999;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
  font-weight: 300;
}

.profile-img {
  margin-right: 1em;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 64px;
  border: 1px solid #E5E5E5;
}

.repositories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repositories-title {
  font-size: 16px;
}

